* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */

.debug-logo {
    background-color: #daa520;
}

.debug-ul {
    background-color: #daa520;
}

.debug-login {
    background-color: #daa520;
}

/* DEBUG */


/* HEADER */
header > section {
    background-color: #add8e6;
}
section {
    display: flex;
    justify-content: center;
}
.row1 {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    width: 1200px;

}



.logo {
    border-style: dashed;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 20%;
}


.ul {
    list-style: none;
    border-style: dashed;
    display: flex;
    justify-content: center;
    min-height: 40px;
    align-items: center;
    flex-grow: 1;
}

.login {
    border-style: dashed;
    min-height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    width: 20%;

}

.header2 {
    background-color: #00008b;
    height: 500px;
}


/* HEADER */


/* MAIN */

/* MAIN */


/* FOOTER */

/* FOOTER */
